/* 01. general */
/* 02. header */
/* 02.01 nav */
/* 02.02 header title */
/* 03. about me */
/* 03.01 about - info */
/* 03.02 skills */
/* 04. portfolio */
/* 04.01 portfolio list */
/* 04.02 portfolio imgs */
/* 05. services */
/* 06. Project summary */
/* 07. blog */
/* 08. contact */
/* 09. footer */


/* 01. general */

* {
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}

body {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	height: 100%;
	font-family: 'Montserrat',sans-serif;
	color: #969696;
	letter-spacing: .5px;
	margin: 0 0;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

/* 02. header */

header {
	background-image: url(head_cover.jpg);
	background-size: cover;
	height: 524px;
	position: relative;
	background-position: center;
}

/* 02.01 nav */

nav ul li, button {
	display: inline-block;
	vertical-align: middle;
}

ul {
	margin: 0 -15px 0 -30px;
}

button {
	background-color: transparent;
	border: 0 none;
	padding: 12px 8px;
	outline: none;
	margin-right: 6px;
	margin-top: -3px;
}

.button_stripe {
	background-color: #000;
	display: block;
	height: 3px;
	margin-bottom: 6px;
	width: 30px;
	position: relative;
}

button span:nth-child(2) {
    width: 20px;
}

.nav_list {
	position: fixed;
	right: 10px;
	top: 30px;
	background-color: #fff;
}

nav a {
	color: #000;
	padding: 12px;
	font-size: 12px;
}

nav a:hover {
	color: #0cbb58;
}

/* 02.02 header title */

.header_title_all {
	position: absolute;
	top: 180px;
	left: 70px;
}

.main_title {
	color: #fff;
	font-size: 59px;
	font-weight: 700;
	margin: 0 0 20px;
	letter-spacing: 1px;
	line-height: 1.5em;
}

.header_subtitle {
    display: inline-block;
    height: 40px;
    color: #fff;
    font-size: 20px;
    background-color: #0cbb58;
    padding: 0 20px;
    line-height: 40px;
}

/* 03. about me */

/* 03.01 about - info */
.about_me {
	margin-top: 110px;
}

h2 {
	color: #13141d;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 25px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.5em;
}

.about_me_p {
	margin: 33px 0 0;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
}

em {
	color: black;
}

.personal_all {
	margin: 25px 12.8% 100px;
	padding: 60px;
	background-color: #fff;
	min-width: 320px;
}

.personal_info {
	display: inline-block;
	text-align: right;
	padding-right: 65px;
	margin-left: 30px;
	float: left;
}

.avatar {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin: -5px 0 15px 20px;
}

.personal_info h5 {
	color: #13141d;
	font-size: 15px;
	font-weight: 300;
	margin: 0 0 20px;
}

.ask_info {
	color: #2eb267;
	font-weight: 400;
}

/* 03.02 skills */

.skills_all {
    display: inline-block;
    padding-left: 40px;
    text-align: left;
    width: 45%;
    min-width: 250px;
}

.skills_title .service_item_title {
	color: #13141d;
	text-transform: uppercase;
	margin: 0 0 30px;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.5em;
}

.skill h6 {
    color: #13141d;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 15px;
}

.progress-bar {
    background: #0cbb58;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 1.7;
}

/* 04. portfolio */

.portfolio_all {
	padding: 110px 0 70px;
	background-color: white;
    margin: 0 auto;
}

.portf_title {
	margin-bottom: 25px;
}

/* 04.01 portfolio list */
.portf_ul {
	text-align: center;
	margin-bottom: 40px;
}

.portf_li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 8px;
    font-weight: 400;
    font-size: 12px;
    list-style: none;
 }

.portf_li a {
	color: #969696;
}

 .portf_li a:hover {
 	color: black;
 }

 /* 04.02 portfolio imgs */
 .portfolio_imgs {
 	text-align: center;
 	margin-left: 3%;
 }

 .portf_img {
 	display: inline-block;
 	width: 310px;
 	height: 210px;
 	min-width: 200px;
 	padding-right: 20px;
 }

 /* 05. services */

.service_all {
	background-color: #f7f7f7;
	padding: 90px 0;
}

.services_title {
	margin: 90px 0 25px; 
}

.fa_service {
	font-size: 8rem;
	color: #0cbb58;
}

.service_item_title {
	color: #13141d;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 8px 0 -25px;
}

.services_item_all {
	text-align: center;
	margin-bottom: 90px;
}

.service_item {
	display: inline-block;
	width: 293px;
	min-width: 200px;
	text-align: center;
	vertical-align: top;
	margin: 0 10px;
}

.serv_spec {
	margin-bottom: 20px;
}

/* 06. Project summary */

.project_all {
	background-color: white;
	text-align: center;
	padding: 90px 0;
}

.fa_project {
	font-size: 4.3rem;
	color: #0cbb58;
}

.project_item h3 {
	color: #13141d;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
}

.project_item h6 {
	font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}

.project_item {
	display: inline-block;
	text-align: center;
	margin: 0 8%;
}

 /* 07. blog */

.blog_all {
	padding: 90px 0;
	text-align: center;
	background-color: #f7f7f7;
}

.blog_item_content {
	display: inline-block;
	width: 280px;
	height: auto;
	vertical-align: top;
	text-align: left;
	margin: 0 10px;
}

.blog_img_content1 {
	background-image: url(post1.jpg);
	width: 100%;
 	height: 210px;
 	min-width: 200px;
 	background-size: cover;
 	position: relative;
}

.blog_img_content2 {
	background-image: url(post2.jpg);
	width: 100%;
 	height: 210px;
 	min-width: 200px;
 	background-size: cover;
 	position: relative;
}

.blog_img_content3 {
	background-image: url(post3.jpg);
	width: 100%;
 	height: 210px;
 	min-width: 200px;
 	background-size: cover;
 	position: relative;
}

.img_txt {
	position: absolute;
	bottom: 5px;
	left: 8px;
	color: white;
}

.comment {
	position: absolute;
	bottom: 5px;
	right: 8px;
	color: white;
}

.sub_img h5 a {
	color: #13141d;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.5em;
}

.note {
	color: #13141d;
	font-size: 12px;
	font-weight: 200;
}

#read_more {
	color: black;
	text-align: right;
	display: block;
}

/* 08. contact */

.contact_all {
	background-color: white;
	margin: 0 0 90px 0;
}	

.contact_item_all {
	text-align: center;
}

.contact_title {
	padding-top: 90px;
}

.contact_item {
	display: inline-block;
	text-align: center;
	width: 250px;
	min-width: 250px;
	vertical-align: top;
	margin: 0 3%;
}

.contact_item i {
	font-size: 3.1rem;
	color: #0cbb58;
}

.contact_item h6 {
	color: #13141d;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 8px 0;
}

.contact_item span {
	font-size: 0.9rem;
	text-transform: uppercase;
}

.input_up {
    height: 60px;
    border: none;
    background: #f7f7f7;
    font-size: 0.9rem;
    font-family: 'Montserrat',sans-serif;
    margin:0 11px 30px;
    width: 43%;
}

:placeholder-shown {
	color: rgba(20, 21, 31, 0.9);
	font-weight: 300;
	padding-left: 15px;
	padding-top: 5px;
}

textarea {
	height: 60px;
    border: none;
    background: #f7f7f7;
    font-size: 0.9rem;
    font-family: 'Montserrat',sans-serif;
    width: 88.5%;
    margin-bottom: 20px;
    height: 150px;
}

form {
	text-align: center;
	padding: 90px 0;
}

.button {
    border: 0;
    margin: 0 0 0 63px;
    padding: 10px 20px;
    height: 53px;
    display: block;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #0cbb58;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

/* 09. footer */

.footer_all {
	margin: 0 15px 0 0;
}

.foot_icons a {
	color: #13141d;
	float: right;
	padding-right: 20px;
}

.copyright {
	color: #13141d;
    float: left;
    text-transform: uppercase;
    margin: 0 0 70px 40px;
}




